.pizza-flex-stuff {
  box-shadow: -5px 5px 0px 1px black;
  background-color: goldenrod;
  color: black;
}

.card, .btn {
  border-radius: 0px;
}

.card {
  background-color: darkgoldenrod;
}

.btn {
  box-shadow: -5px 5px 0px 0px black;
  background-color: darkgoldenrod;
  border-width: 2px;
}

#order-submitted {
  display: none;
}